#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}
.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 0%;
}

main {
  flex: 1;
}
.app_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15rem;
}
.nav{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.2rem;
}

.nav > a {
  text-decoration: none;
  color: inherit;
}

.nav_search{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.search_form{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin: 0 80px;
  font-size: 1.5rem;
}

.content{
  margin-top: 20px;
}


.search_input{
  padding: 0.3rem;
  font-size: 1rem;
  width: 300px;
}

.logout_link{
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  margin-right: 100px;
}

a > li {
  list-style: none;
  cursor: pointer;
}

.post_card{
  display: grid;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 80px;
  text-align: left;
}

.post_form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.add_post_button{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.header{
  margin-left: 100px;
  color: orange;
}

.login_header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.login_header > h1{
  margin-right: 850px;
  /* color: orange; */
}

.login_form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.login_button{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 70%;
  margin-left: 4rem;
}

.username_input, .password_input{
  padding: 0.3rem;
  font-size: 1rem;
  width: 80%;
  margin-left: 2.3rem;
}

.username_label, .password_label{
  font-size: 1.2rem;
  margin-left: 2.3rem;
  margin-top: 0px;
}

.footer{
  margin-top: auto;
  padding: 1rem;
  /* background-color: #f5f5f5; */
  text-align: center;
}
